.container {
    width: 300px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.modalTitle{
  margin-bottom: 10px;
  color: active #0B4266;
  text-align: center;
  font-family: poppins;
  font-size: 14px;
  /* font-weight: bold; */
}

/* .monthTasks .ant-modal .ant-modal-body {
  margin-left: -250px;
  width:1400px;
} */

.table-striped-rows tr:nth-child(2n) td {
  background-color: #fbfbfb;
}
.table-striped-rows thead {
  background-color: #f1f1f1;
}
.ant-checkbox-input{
  width: 16px;
}
.modalTitle .ant-modal-content {
  width: 700px;
}
.monthTasks .ant-modal-content {
  width: 1500px;
  /* max-width: 3000px; Set a maximum width if desired */
  margin-left: -420px; /* Center the modal horizontally */
}

/* .ant-modal-body {
  display: flex;
  justify-content: center; 
  align-items: center; 
} */

.rowstyle{
    border: 1px solid grey;
}
  
.ant-table-column-title{
    background-color: white;
    color:#0B4266;
    font-size: 14px;
    font-family: poppins;
}

.ant-table-column-title>title{
    color:#0B4266;
    font-size: 14px;
    font-family: poppins;
}
 
.ant-table-cell > td {
    color:#0B4266;
    font-size: 14px;
    font-family: poppins;
}

/* Custom styles to change Ant Design table header background color */
    .custom-table .ant-table-thead > tr > th {
        background-color: white; /* Change to your desired color */
    }
  
  .custom-table:hover{
    background-color: white;
  }

  .custom-table .ant-table-cell .ant-table-row-expand-icon-cell > td{
    background-color: white; 
  }


  .approvalrequests-table .ant-table-thead > tr > th:hover {
      background-color: white !important;
  }
  

  .approvalrequests-table .ant-table-thead > tr > th{
    background-color: white !important;
    color: #0B4266 !important;
    font-family: poppins !important;
  
  }

  .approvalrequests-table .ant-table-thead:hover > tr > th{
    background-color: white !important;
    color: #0B4266 !important;
    font-family: poppins !important;
  
  }

  .approvalrequests-table .ant-table-row-expand-icon-cell {
    background-color: white !important; 
}

.approvalrequests-table .ant-table-row:nth-child(even) .ant-table-row-expand-icon-cell {
    background-color: #fbfbfb !important; 
}

  
.ant-table-wrapper .ant-table-thead >div, :where(.css-dev-only-do-not-override-1qhpsh8).ant-table-wrapper .ant-table-thead >div {
    position: relative;
    /* color: rgba(0, 0, 0, 0.88); */
    font-weight: 600;
    text-align: start;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.2s ease;
}