
#e404 {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

p{
    color: #041724;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:1ch;
}