.ant-layout{
  background-color: rgb(231, 236, 240) !important;
}


/* Add Poppins font family to the overall app */
.App {
  text-align: center;
  font-family: 'Poppins', sans-serif; /* Use Poppins font with a fallback to a generic sans-serif font */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .App .ant-btn{
  width: 100px;
  height: 30px;
  background: #0B4266;
}

.App .ant-btn:hover{
  width: 100px;
  height: 30px;
  background: #0B4266;
} */



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
